In [19]:
import sys
sys.path.append("../")

from content_based import *
%matplotlib inline
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
# 5333265
genre_df = read_data('../Utils/dataset/genres.csv')
genre_df.head(10)

,book_id,"history, historical fiction, biography",fiction,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic"
0,5333265,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7327624,NaN,8.0,31.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,6066819,NaN,555.0,NaN,10.0,NaN,23.0,NaN,NaN,NaN,NaN
3,287140,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
4,287141,9.0,1.0,1.0,NaN,NaN,NaN,NaN,6.0,1.0,NaN
5,378460,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,34883016,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
7,287149,1.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN
8,6066814,38.0,19.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
9,33394837,4.0,3.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
book_id = 2767052
genre_df_copy = genre_df.copy()

In [22]:
recommendations = content_based_recommendation(book_id, genre_df_copy)

book_id
7260188     0.999588
25946645    0.999529
17288352    0.999351
25017143    0.999267
17997707    0.999189
              ...
32276945         NaN
18294588         NaN
23717543         NaN
24749917         NaN
35213446         NaN
Length: 1219371, dtype: float64

In [28]:
# print number of nan values
print(recommendations.isnull().sum())
print(recommendations.shape)

124858

In [23]:
# genre_df_copy = map_index_to_key(genre_df_copy)
# genre_df_copy.head(10)

In [24]:

# # check if there are negative values in the dataframe
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# genre_df_copy = remove_row_has_negative(genre_df_copy)
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# # genre_df_copy.head(10)

In [25]:
# tf_idf = TF_IDF_matrix(genre_df_copy)
# print(tf_idf.shape)
# tf_idf.head(7)

In [26]:
# cosine_matrix = cosine_similarity(book_id, tf_idf)
# print(book_id)
# print(cosine_matrix[:5])
# # 7327624 => 1.217367919
# # 6066819 => 0.789
# # 287149 => 1.60066

In [27]:
# book_recommendations = book_recommendations(cosine_matrix)