In [1]:
import sys
sys.path.append("../")

from content_based import *
%matplotlib inline
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
# 5333265
genre_df = read_data('../Utils/dataset/genres.csv')
genre_df.head(10)

,book_id,"history, historical fiction, biography",fiction,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic"
0,5333265,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7327624,NaN,8.0,31.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,6066819,NaN,555.0,NaN,10.0,NaN,23.0,NaN,NaN,NaN,NaN
3,287140,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
4,287141,9.0,1.0,1.0,NaN,NaN,NaN,NaN,6.0,1.0,NaN
5,378460,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,34883016,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
7,287149,1.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN
8,6066814,38.0,19.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
9,33394837,4.0,3.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
book_id = 2767052
genre_df_copy = genre_df.copy()

In [4]:
recommendations = content_based_recommendation(book_id, genre_df_copy)

book_id
7260188     0.999636
25946645    0.999505
25017143    0.999357
17288352    0.999297
17997707    0.999272
17183798    0.999166
33652251    0.999052
26116440    0.999041
17286818    0.998860
25669098    0.998610
419783      0.998604
13125947    0.998549
13032025    0.998520
27414369    0.998514
10271120    0.998490
28599500    0.998426
27270184    0.998127
26409580    0.997981
2463199     0.997979
29861856    0.997834
dtype: float64

In [277]:
# genre_df_copy = map_index_to_key(genre_df_copy)
# genre_df_copy.head(10)

,"history, historical fiction, biography",fiction,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic"
book_id,,,,,,,,,,
5333265,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7327624,NaN,8.0,31.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
6066819,NaN,555.0,NaN,10.0,NaN,23.0,NaN,NaN,NaN,NaN
287140,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
287141,9.0,1.0,1.0,NaN,NaN,NaN,NaN,6.0,1.0,NaN
378460,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34883016,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
287149,1.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN
6066814,38.0,19.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
33394837,4.0,3.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:

# # check if there are negative values in the dataframe
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# genre_df_copy = remove_row_has_negative(genre_df_copy)
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# # genre_df_copy.head(10)

True
False

In [279]:
# tf_idf = TF_IDF_matrix(genre_df_copy)
# print(tf_idf.shape)
# tf_idf.head(7)

(1122598, 10)

,"history, historical fiction, biography",fiction,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic"
book_id,,,,,,,,,,
7327624,NaN,0.162590,1.202530,0.042871,0.087366,NaN,NaN,NaN,NaN,NaN
6066819,NaN,0.786509,NaN,0.029893,NaN,0.057247,NaN,NaN,NaN,NaN
287141,0.683441,0.046293,0.088358,NaN,NaN,NaN,NaN,0.7327,0.114269,NaN
287149,0.054675,NaN,NaN,NaN,NaN,NaN,1.59973,NaN,NaN,NaN
6066814,0.546753,0.166655,NaN,0.703084,NaN,NaN,NaN,NaN,NaN,NaN
33394837,0.182251,0.083327,0.583163,0.703084,NaN,NaN,NaN,NaN,NaN,NaN
28575155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [280]:
# cosine_matrix = cosine_similarity(book_id, tf_idf)
# print(book_id)
# print(cosine_matrix[:5])
# # 7327624 => 1.217367919
# # 6066819 => 0.789
# # 287149 => 1.60066

2767052
book_id
7260188     0.999564
25946645    0.999481
17288352    0.999254
25017143    0.999211
17997707    0.999132
dtype: float64

In [281]:
# book_recommendations = book_recommendations(cosine_matrix)

TypeError: book_recommendations() missing 1 required positional argument: 'genre_mean'