In [1]:
import sys
sys.path.append("../")

from content_based import *
%matplotlib inline
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
# 5333265
genre_df = read_data('../Utils/dataset/genres.csv')
genre_df.head(10)

,book_id,"history, historical fiction, biography",fiction,"fantasy, paranormal","mystery, thriller, crime",poetry,romance,non-fiction,children,young-adult,"comics, graphic"
0,5333265,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7327624,NaN,8.0,31.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,6066819,NaN,555.0,NaN,10.0,NaN,23.0,NaN,NaN,NaN,NaN
3,287140,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN
4,287141,9.0,1.0,1.0,NaN,NaN,NaN,NaN,6.0,1.0,NaN
5,378460,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,34883016,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
7,287149,1.0,NaN,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN
8,6066814,38.0,19.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN
9,33394837,4.0,3.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
book_id = 2767052
genre_df_copy = genre_df.copy()

In [4]:
recommendations = content_based_recommendation(book_id, genre_df_copy)
recommendations

book_id
7260188     0.999588
25946645    0.999529
17288352    0.999351
25017143    0.999267
17997707    0.999189
26116440    0.999097
33652251    0.999089
17183798    0.998956
17286818    0.998829
25669098    0.998571
13032025    0.998512
13125947    0.998458
419783      0.998439
28599500    0.998434
10271120    0.998241
27270184    0.998169
27414369    0.998096
26409580    0.997889
25063013    0.997825
16088207    0.997665
dtype: float64

In [5]:
# print number of nan values
print(recommendations.isnull().sum())
print(recommendations.shape)
# print number of nan values in the index
print(recommendations.index.isnull().sum())
# print number of zero values in the recommendations
print((recommendations == 0).sum().sum())

0
(20,)
0
0

In [6]:
print(len (recommendations))

20

In [ ]:
print(recommendations.empty)

In [7]:
# genre_df_copy = map_index_to_key(genre_df_copy)
# genre_df_copy.head(10)

In [8]:

# # check if there are negative values in the dataframe
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# genre_df_copy = remove_row_has_negative(genre_df_copy)
# print(genre_df_copy[genre_df_copy < 0].any(axis=1).any())
# # genre_df_copy.head(10)

In [9]:
# tf_idf = TF_IDF_matrix(genre_df_copy)
# print(tf_idf.shape)
# tf_idf.head(7)

In [10]:
# cosine_matrix = cosine_similarity(book_id, tf_idf)
# print(book_id)
# print(cosine_matrix[:5])
# # 7327624 => 1.217367919
# # 6066819 => 0.789
# # 287149 => 1.60066

In [11]:
# book_recommendations = book_recommendations(cosine_matrix)